.eventList{
    width: 419px;
    height: 516px;
    background: #2A2A2A;
    box-shadow: 0px 0px 62px rgba(255, 255, 255, 0.05);
    border-radius: 8px;
    padding: 19px 50px;
    margin: 0;
    flex: 2;
    min-width: 360px;
    max-width: 440px;
}

.eventList .col{
    height: 110px;
    padding: 5px;
}